<center style="width:100%;table-layout:fixed">

	<body style="padding:0px;margin:0px;font-family: sans-serif;background:#f1f3f4">
		<div style="max-width:650px;min-width:400px;padding: 30px 30px;">
			<table style="margin:0 auto;max-width:650px;min-width:400px;width:100%;background:#fff;border: none;border-spacing: 0px;">
				<tbody>
					<tr><td><img src="https://stocky-dodo-file-uploads.s3.ap-south-1.amazonaws.com/emailheader.png" style="height:auto;width:100%"></td></tr>
					<!--<tr style="background-color: #203993;">
						<td style="color:#f1f3f4;font-size:16px;padding-left:30px;text-align:center;"><strong>Verify your email address</strong></td>
						<td>
							<div style="text-align: left;padding-top: 10px;padding-left: 30px;padding-bottom: 10px;"><span style="float: right;padding: 50px 30px 0px 0px;"></span></div>
						</td>
					</tr>
					<tr>
						<td></td>
					</tr>
					<tr>
						<td></td>
					</tr>
					<tr>
						<td></td>
					</tr>
					<tr>
						<td></td>
					</tr>
					<tr>
						<td></td>
					</tr>
					<tr>
						<td></td>
					</tr>
					<tr>
						<td></td>
					</tr>
					<tr>
						<td></td>
					</tr>

					<tr>
						<td></td>
					</tr>
					<tr>
						<td></td>
					</tr>
					<tr>
						<td></td>
					</tr>
					<tr>
						<td></td>
					</tr>
					<tr> !-->
						<td style="color:#979797;font-size:18px;padding-left:30px;padding-top:10px;"><b>Welcome to skeleton-nodejs-serverless!</b></td>
					<!-- </tr>
					<tr>
						<td></td>
					</tr>
					<tr>
						<td></td>
					</tr>
					<tr>
						<td></td>
					</tr>
					<tr>
						<td></td>
					</tr>
					<tr>
						<td></td>
					</tr>
					<tr>
						<td></td>
					</tr> !-->
					<tr>
						<td style="color:#979797;font-size:16px;padding-left:30px;padding-right:30px;padding-top:10px;"> 
						<p>Please verify your email address by using the below One Time Password !</p></td></tr>

					<tr>
						<td></td>
					</tr>
					<tr>
						<td style="color:#09528A;font-size:20px;padding-left:30px;padding-right:30px;padding-top:10px;">
							<span><strong><%= otp %></strong></span></td></tr>
					<tr>
						<!-- <td style="color:#979797;font-size:16px;padding-left:30px;padding-right:30px;padding-top:10px;">
							<p>This code will be active for 1 hour.If it has expired you can request a new code.</p></td> -->
					</tr>
					<tr>
						<td></td>
					</tr>
					<tr>
						<td></td>
					</tr>
					<tr>
						<td></td>
					</tr>
					<tr>
						<td></td>
					</tr>
					<tr>
						<td></td>
					</tr>
					<tr>
						<td></td>
					</tr>
					<tr>
						<td></td>
					</tr>
					<tr>
						<td style="color:#979797;font-size:14px;padding-left:30px;padding-right:30px;padding-top:10px;">Thanks,
					<tr>
						<td></td>
					</tr>
					<tr>
						<td></td>
					</tr>
					<tr>
						<td style="color:#979797;font-size:14px;padding-left:30px;padding-right:30px;padding-bottom:20px">The skeleton-nodejs-serverless
							Team
					<tr>
						<td></td>
					</tr>
					<tr>
						<td></td>
					</tr>
					<tr>
						<td></td>
					</tr>
				</tbody>
				<tr>
					<td></td>
				</tr>
				<tr>
					<td></td>
				</tr>
				<tr>
					<td></td>
				</tr>
			</table>
		</div>
	</body>
</center>